:root {
    --effect: hover 2.5s linear infinite;
  }
  .jalopy-container {
    position: relative;
    min-height: 100vh;
}
#app {
    padding-bottom: 2.5rem;
}
* {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}
html{
    max-width: 100vw;
}
body {
    /* display: flex; */
    /* width: 100vw; */
    /* height: 100vh; */
    background: grey;
    align-items: center;
    justify-content: center;
  }
footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/*Home Page*/
.gallery{
    border-style: solid;
    border-color: black;
    background-color: gray;
    height: 38vh;
    min-width:15% ;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.poster img{
    height: 35vh;
    width: 20vh;
}
.movie {
    display: inline-block;
    width: 20vw;
    height: 35vh;
    margin: 10px;
    text-align: center;
    z-index: -100;
}
.name p{
    color: darkgreen;
}
#edit-movie{
    display: block;
}
.checked {
  color: yellow;
}
.flip-card {
    background-color: transparent;
    height: 35vh;
    width: 15vw;
    border: 1px solid #f1f1f1;
    margin-top: 1vh;
    margin-bottom: 1vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    overflow: hidden;
}
b:hover {
    position: relative;
    animation: slide 20s linear;

}
@keyframes slide {
    0% { left: 0px;}
    50% { left: -400px;}
    75% {right: 200px;}
    100% {right: 0px;}
}
.cont34{
    max-width: 23em;
    max-height: 20em;
    border: darkorange 2px dotted;
    margin: 10px auto;
}
#edit-movie h3{
    text-align: center;
    font-size: 25px;
    margin: 2px;
}
#edit-movie{
    border: greenyellow 2px solid;
    background-color: transparent;
}
#edit-movie h2{
    margin-top: 3px;
    margin-bottom: 3px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    top: 120px;
    width: 15vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 1;
    position: sticky;
    background-color: gray;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  @keyframes slide {
    0% { left: 0px;}
    100% { left: -400px;}
  
}
  @keyframes hover {
    0% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
    20% {
      transform: scale(1);
      color: hotpink;
      -webkit-text-stroke: 3px red;
      filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }
  
    50% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
  
  }
  .register {
    display: block;
    width: 50vw;
    height: 50vh;
    background-color: antiquewhite;
    text-align: center;
    border: solid 1px black;
    margin: auto;
  }
  .register h1, .register label {
    padding: 15px;
    text-align: center;
  }
  .register button{
    position: relative;
    bottom: -180px;
    left: calc(50% - 80px);

  }